<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta name="format-detection" content="telephone=no" />
<meta name="applicable-device" content="pc,mobile" />
<title>Sniper for stock</title>
<script src="/static/web/jquery-3.4.1.min.js"></script>
<script src="/static/web/popper-1.16.0.min.js"></script>
<link href="/static/web/bootstrap-4.3.1-dist/css/bootstrap.min.css " rel="stylesheet" />
<script src="/static/web/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
</head>
<body>
index
</body>
</html>


